#Workout-result {
  background: rgb(244, 98, 181);
  border: 5px solid black;
  font-size: 94px;
  height: 160px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#Dog-result {
  background: rgb(196, 159, 255);
  border: 5px solid black;
  font-size: 24px;
  height: 160px;
  margin-top: 10px;
  margin-bottom: 20px;
}

hr {
  height: 9px;
  background-color: black;
}
h3{ 
font-style: italic;
  font-size: 90px;
  font-family: Courier New;
  font-weight: 500;
  }

